body {
    background-color: black;
    font-family: arial;
    color: white;
}
h1{
    color:gray;
    font-family: verdana;

}
.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;    
    margin: auto;
    border-radius: 25px;
    align-items: center;
    align-content: center;
}

.chailddiv {
    color: black;
    background-color: white;
    width: 400px;

    margin: auto;
    align-items: center;
    align-content: center;
}

.tablee {
    color: black;
}

.highlight {
    background-color: yellow;
  }

